<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
</head>
<body>
    <h1>Page not Found</h1>
    <img style="width: 200px;height: 200px;margin-top: 50px;" src="https://image.freepik.com/free-vector/404-error-abstract-concept-illustration_335657-2243.jpg" />
</body>
</html>